// scss ----css3
// sass ----css

//ADD AN EXTENSION
// Live sass compiler

@import "mixin";
@import "var";



//In this file you can use
//1.operators
//2.variable
//3.nesting
//4.mixin
//5.parameters


//parameter
@mixin commoncode($par1){
    color: rgb(161, 109, 41);
    font-size: 7rem+2rem;
    letter-spacing: $par1;
    text-transform: capitalize;
}


//mixin
@mixin flexprob{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

// @variable example

$bg-color:rgb(76, 199, 174);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-header{
width:100vw;
height:100vh;
@include flexprob;
background-color: $bg-color ;
}
// h1{
//     color:red;
//     font-size: 5rem+5rem;
// }

// h1:hover{
//     color: blueviolet;
// }

//nesting
h1{
    color:red;
    font-size: 5rem+5rem;
letter-spacing: 5px;

&:hover{
    color: blueviolet;
}
}
p{
    @include commoncode(0.8rem);
}


//when we make seperate page for all of thses so make file name start with _(underscore)